amicus.jfif
demo_crop_online.gif
Assets/*.mp4
Assets/*.mkv
# demo_crop.mp4
# demo_trim.mp4


Templates
Tempates/*
Templates*
Data
Data/*
D:\aaProjectsStuff\Amicus\Dashboard\FinalData.csv
*.pbix
legtech_text.pbix
D:\aaProjectsStuff\Amicus\Dashboard\legtech_text.pbix
scratch.ipynb
req_all.txt

app_old.py
app_test.py
dash_board\app_old.py
dash_board\app_test.py
